@font-face {
    font-family: KumbhSans;
    src: url("../../assets/fonts/KumbhSans-Regular.ttf");
}



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: KumbhSans;
}

.navbar {
    width: 100vw;
    height: 80px;
    background-color: var(--yellow-theme-nav-background-color) 100%;
    backdrop-filter: blur(10px);
    box-shadow: 10px 5px 15px rgba(17, 25, 79, 0.306);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 20;
    
    transform: translateY(0);
    transition: 0.5s all;
    backdrop-filter: blur(10px);
}

  
  .navbar.compaq {
    top: 0;
    backdrop-filter: blur(5px);
    box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.05);
    top: 0;
  }
  
  .navbar.hide {
    transform: translateY(-120px);
  }

.logo img{
    width: clamp(150px, 20vw, 200px);
}
/* 
.nav {
    display: flex;
    align-items: center;
}

.hamburger {
    display: flex;
    align-items: center;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: absolute;
    top: 80px;
    bottom: 0;
    left: 0;
    background: #888282bb;
    backdrop-filter: blur(10px);
    width: 100%;
    padding: 2rem;
}

.humburger {
    font-size: 30px;
}


.searchPerson {
    display: flex;
    align-items: center;
    font-size: 20px;
    padding-inline: 1rem;
    border-left: 3px solid #000;
}

*/

.hamburger {
    display: none;
    color: #63AB45; 
}

.navContainer {
    width: 100%;
    max-width: 1225px;
    margin: auto;
    color: #ffffff;
    background: transparent;
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/*
.navItems {
    font-size: 50px;
    color: aquamarine;
} */


.nav {
    display: flex;
    gap: 1.5rem;
}

.links {
    display: flex;
}


.link, .signAuthBtn {
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    font-family: KumbhSans;
    padding: 1rem;
    border-radius: 10px;
    white-space: nowrap;
    cursor: pointer;
}

.link::after, .signAuthBtn::after {
    content: "";
    display: block;
    width: 0;
    height: 1.5px;
    margin-top: 0.5rem;
    background: transparent;
    transition: all 0.4s ease;
}

.link:hover::after, .signAuthBtn:hover::after {
    width: 110%;
    background: var(--yellow-theme-main-color) 10%;
}


.searchPerson {
    color: #000;
    border-left: 3px solid rgb(148, 119, 119);
    padding: 0 1rem;  
    display: flex;
    align-items: center;
}

.searchPerson {
    font-size: 20px;
}

.icons {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #63AB45;
    transition: all 0.3s ease;
}

.icons:hover {
    background: #63AB45;
    color: #fff;
}


.authBtn {
    width: 180px;
    height: clamp(200px, 45vh, 650px);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-radius: 20px;
    padding: 2rem;
    position: absolute;
    top: 5.1rem;
    right: 0;
    background: #0a1e23f2;
    box-shadow: 0 0 10px rgba(31, 136, 159, 0.8);
}

.linksContent {
    display: none;
}

@media (max-width: 888px) {
    .navContainer {
        width: 90vw;
        margin: auto;
    }

    .linksContent {
        display: inline-block;
        margin-right: 10px;
    }

    .hamburger {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .navLinks {
        position: absolute;
        top: 0rem;
        bottom: 0rem;
        left: 50%;
        right: 5%;
        backdrop-filter: blur(5px);
        transition: all 0.8s ease !important;
    }

    .links, .authBtn {
        width: fit-content;
        height: fit-content + 2002px;
        flex-direction: column;
        background: #06021dd9;
        border-radius: 20px;
        padding: 1rem;
        border: 1px solid rgba(31, 136, 159, 0.9);
        box-shadow: 0 0 10px rgba(31, 136, 159, 0.2);
        overflow: auto;
    }
    
    .authBtn {
        right: 3%;
    }
    .links::-webkit-scrollbar {
        display: none;
    }
}

