@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab;wght@500&display=swap");

:root {
    --yellow-theme-bacground-color: #1d1d1d;
    --yellow-theme-main-color: #ffdd40;
    --yellow-theme-sub-text-color: #ffffff;
    --yellow-theme-nav-background-color: #181818;
}



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: KumbhSans;
}

body {
    background-image: url("https://cdn.svgator.com/images/2022/06/use-svg-as-background-image-particle-strokes.svg");
    width: 100vw;
    height: 300vh;
}


::-webkit-scrollbar {
    display: none;
}